// styling
$gray-blu: #00202d;
$blu-dark: #023859;
$dusty-db: rgba(2, 56, 89, 0.53);
$blu-light: #0388A6;
$text-light: #d2edfe;
$acc: #027353;
$dusty-acc: #81A69B;
$pop-light: #F29B30;
$dusty-pl: rgba(248, 187, 52, 0.76);
$pop-dark: #D97B29;
$dusty-pd: #D9BD9C;
$purple: #A1A4B5;
$dark-gray: #7a7a7a;


// imports
@import "bootstrap/dist/css/bootstrap.css";
